-e git+https://github.com/tomsilver/generalization_grid_games.git@8a03c057c7a3d0921337fb89c6d3e3c4fe15a21d#egg=generalization_grid_games
gym==0.18.0
imageio
-e git+https://github.com/ManuelEberhardinger/lb-foraging.git@a2e7de5566123c45b0058bf0d42af0cbd6a21dbc#egg=lbforaging
matplotlib
numpy
pandas
scikit-learn
scipy
tqdm
